# Naive Bayes

 Using the Car dataset Data sets. The datasets  evaluates cars according to the following six input
   attributes: buying, maint, doors, persons, lug_boot, safety

In [1]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
%matplotlib notebook

In [2]:
#you should have seven columns (without column column headers)
features = ["buying", "maint", "doors", "persons","lug_boot","safety"]
target = ["Car_Evaluation"]

1- Provide a model based on Gaussian Naive bayes and calculate the accuracy using cross validation.<br>
2- What is the class attribute(evaluation) for the following cases?

In [3]:
Case1=     ["low","low","5more","more","small","high"]
Case2=     ["low","low","5more","more","med","low"]
Case3=     ["low","low","5more","more","med","high"]
Case4=     ["low","low","5more","more","med","high"]# This is same as case3

In [4]:
ls

bayes.ipynb* car.data*    car.names*

In [5]:
rawdata=open("car.data","r").read()
rawnames=open("car.names","r").read()

In [6]:
splt_rawdata=rawdata.split("\n")

In [7]:
splt_data=[x.split(",") for x in splt_rawdata]

In [8]:
df_feat=pd.DataFrame(splt_data[0:len(splt_data)-1],columns = features+target) # Last row is empty in each column

In [9]:
df_targ=pd.Series(df_feat.Car_Evaluation.values)

In [10]:
df_feat.drop(target,axis=1,inplace=True)

In [11]:
df_feat.head(3)

  buying  maint doors persons lug_boot safety
0  vhigh  vhigh     2       2    small    low
1  vhigh  vhigh     2       2    small    med
2  vhigh  vhigh     2       2    small   high

In [12]:
df_feat.buying.unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [13]:
df_feat.buying.replace('vhigh',3,inplace=True)
df_feat.buying.replace('high',2,inplace=True)
df_feat.buying.replace('med',1,inplace=True)
df_feat.buying.replace('low',0,inplace=True)

In [14]:
df_feat.maint.unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [15]:
df_feat.maint.replace('vhigh',3,inplace=True)
df_feat.maint.replace('high',2,inplace=True)
df_feat.maint.replace('med',1,inplace=True)
df_feat.maint.replace('low',0,inplace=True)

In [16]:
df_feat.doors.unique()

array(['2', '3', '4', '5more'], dtype=object)

In [17]:
df_feat.doors.replace('2',2,inplace=True)
df_feat.doors.replace('3',3,inplace=True)
df_feat.doors.replace('4',4,inplace=True)
df_feat.doors.replace('5more',5,inplace=True)

In [18]:
df_feat.persons.unique()

array(['2', '4', 'more'], dtype=object)

In [19]:
df_feat.persons.replace('2',2,inplace=True)
df_feat.persons.replace('4',4,inplace=True)
df_feat.persons.replace('more',5,inplace=True)

In [20]:
df_feat.lug_boot.unique()

array(['small', 'med', 'big'], dtype=object)

In [21]:
df_feat.lug_boot.replace('small',0,inplace=True)
df_feat.lug_boot.replace('med',1,inplace=True)
df_feat.lug_boot.replace('big',2,inplace=True)

In [22]:
df_feat.safety.unique()

array(['low', 'med', 'high'], dtype=object)

In [23]:
df_feat.safety.replace('low',0,inplace=True)
df_feat.safety.replace('med',1,inplace=True)
df_feat.safety.replace('high',2,inplace=True)

In [24]:
df_feat.head(3)

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         0       0
1       3      3      2        2         0       1
2       3      3      2        2         0       2

In [25]:
df_targ.unique()

array(['unacc', 'acc', 'vgood', 'good'], dtype=object)

In [26]:
df_targ.replace('unacc',0,inplace=True)
df_targ.replace('acc',1,inplace=True)
df_targ.replace('vgood',2,inplace=True)
df_targ.replace('good',3,inplace=True)

In [27]:
df_targ.head(3)

0    0
1    0
2    0
dtype: int64

***1- Provide a model based on Gaussian Naive bayes and calculate the accuracy using cross validation.<br>***

In [28]:
x_train,x_test,y_train,y_test=train_test_split(df_feat,df_targ,test_size=0.3,random_state=30)

In [29]:
NB=GaussianNB()

In [30]:
NB.fit(x_train,y_train)

GaussianNB(priors=None)

In [31]:
y_pred = NB.predict(x_test)
y_pred

array([0, 3, 0, 0, 0, 2, 0, 1, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 2, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0,
       0, 0, 1, 2, 0, 0, 0, 0, 1, 0, 0, 0, 3, 1, 0, 0, 0, 0, 0, 0, 2, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2, 0, 0, 0,
       2, 2, 0, 2, 2, 0, 1, 0, 0, 0, 2, 2, 1, 2, 2, 1, 1, 0, 1, 0, 0, 2,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 2, 2, 2, 2, 0, 0, 2, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 3, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 3, 0, 0, 0, 2, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 1, 0, 0, 2, 0, 2,
       1, 0, 3, 0, 1, 0, 0, 0, 0, 2, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 2, 0,
       2, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 3, 2, 1, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 2, 0, 0, 0, 2, 2, 2, 2, 1, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 1,
       0, 3, 0, 1, 1, 2, 2, 0, 0, 2, 0, 0, 0, 0, 2, 1, 1, 0, 0, 0, 0, 3,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 2, 0, 0, 0, 2, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 3, 2, 0, 0, 0, 1, 2, 3, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 2, 0, 0, 1, 2, 0, 0, 0,
       1, 0, 1, 0, 2, 0, 2, 0, 2, 0, 0, 2, 2, 1, 0, 2, 1, 2, 0, 0, 0, 1,
       0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 1, 0, 3, 0, 0, 2, 0, 2, 2, 2, 0, 0,
       0, 0, 2, 2, 0, 2, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 2, 0, 0, 0, 2, 0,
       0, 0, 1, 1, 0, 2, 0, 0, 3, 1, 0, 0, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0])

In [32]:
NB.score(x_train,y_train)

0.7902155887230514

In [33]:
NB.score(x_test,y_test)

0.7355212355212355

In [34]:
from sklearn import metrics
metrics.r2_score(y_test, y_pred)

0.304134337000579

In [35]:
metrics.accuracy_score(y_test,y_pred)

0.7355212355212355

In [36]:
metrics.confusion_matrix(y_test,y_pred)

array([[323,  33,  10,   1],
       [ 27,  34,  37,   6],
       [  0,   0,  19,   0],
       [  3,   5,  15,   5]])

In [37]:
from sklearn.cross_validation import cross_val_score, cross_val_predict
scores = cross_val_score(NB, df_feat, df_targ, cv=6)
print('Cross-validated scores:', scores)

Cross-validated scores: [0.71280277 0.77083333 0.68402778 0.73170732 0.79370629 0.76573427]

/Users/qasimch86/anaconda3/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

***2- What is the class attribute(evaluation) for the following cases?***

In [38]:
print("target values and their meanings: \n 0: unacc, 1: acc, 2:vgood , 3:good ")

target values and their meanings:
 0: unacc, 1: acc, 2:vgood , 3:good

In [39]:
Case1=["low","low","5more","more","small","high"]
num_Case1 = np.array([0,0,5,5,0,2])
df_case1=pd.DataFrame(num_Case1.reshape(1,6),columns=features)
print("Predicted target value is: ",NB.predict(df_case1))

Predicted target value is:  [2]

In [40]:
Case2=     ["low","low","5more","more","med","low"]
num_Case1 = np.array([0,0,5,5,1,0])
df_case1=pd.DataFrame(num_Case1.reshape(1,6),columns=features)
print("Predicted target value is: ",NB.predict(df_case1))

Predicted target value is:  [0]

In [41]:
Case3=     ["low","low","5more","more","med","high"]
num_Case1 = np.array([0,0,5,5,1,2])
df_case1=pd.DataFrame(num_Case1.reshape(1,6),columns=features)
print("Predicted target value is: ",NB.predict(df_case1))

Predicted target value is:  [2]

In [42]:
Case4=     ["low","low","5more","more","med","high"]# This is same as case3
num_Case1 = np.array([0,0,5,5,0,2])
df_case1=pd.DataFrame(num_Case1.reshape(1,6),columns=features)
print("Predicted target value is: ",NB.predict(df_case1))

Predicted target value is:  [2]